<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src ="assets/layout/images/Tecnomatica.png" alt="logo">

        <span style="color: #034485">Tecnomatica</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>
    <span style="font-size: 24px;">Configuracion de Gestion Firma Digital</span>
    
    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        
    </div>
</div>