.p-field {
    margin-bottom: 10px; /* Añade separación entre las opciones */
  }
  .button-container {
    display: flex;
    align-items: center; /* Alinea verticalmente los botones */
    gap: 50px; /* Espacio entre los botones */
  }
  